.about {
  padding: 50px 0;
  border-bottom: solid 1px rgba(255, 255, 255, 0.103) !important;
}

.about-row {
  margin-top: 40px !important;
}

.about-me {
  color: #fff;
  font-size: 1.3rem;
}

.info-card {
  color: #fff;
  font-size: 1.3rem;
}

.info-card span {
  color: #fff;
  font-weight: 600;
  margin-top: -10px !important;
}

.about-underline {
  height: 2px;
  width: 10% !important;
  background: #f9bd09;
}

.cv {
  text-decoration: none !important;
  border: #e13d2e3d solid 2px;
  display: block;
  width: 25%;
  text-align: center;
  margin-top: 20px !important;
  color: #fff;
}

.cv:hover {
  background: #e13d2e5b;
  color: #fff;
}

@media only screen and (max-width: 576px) {
  .info-card {
    font-size: 1.1rem;
  }

  .cv {
    margin-top: 20px !important;
    width: 30%;
  }

  .about-row {
    margin-top: 20px !important;
  }

  .tech {
    margin-top: 30px !important;
  }

  .about-me {
    text-align: justify;
    font-size: 1.1rem;
  }
}
